
@import '_fonts';
@import '_normalize';

@import '_header.scss';
@import '_footer.scss';
@import '_style.scss';
@import '_keyframes.scss';



body {
	margin: 0 auto;
	width: 100vw;
	min-height: 100vh;
	background-color: #ffffff;
	max-width: 100%;
	min-width: 300px;
	font-family: 'Roboto', 'Arial', 'Sans-Serif';
	position: relative;
}
